[defaults]
interpreter_python = auto_silent
stdout_callback = ansible.builtin.default
ssh_args = -o LogLevel=ERROR -o BatchMode=yes -o ControlMaster=auto -o ControlPersist=60s

[callback_default]
result_format = yaml